# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
.gitattributes
.tutanota
BraveSoftware/
FreeFileSync/
GIMP/
IJHack/
Insync/
KDE/
Kid3/
LibreCAD/
MusicBrainz/
OpenSCAD/
QCAD/
Qt/
QtProject.conf
Qtrac Ltd./
Signal/
Thunar/
Trolltech.conf
Ultralytics/
akregatorrc
autostart/
backup
baloofilerc
blender/
bless/
bluedevilglobalrc
caja/
cef_user_data/
clangd/
czkawka/
dconf/
discoverrc
dleyna-renderer-service.conf
dleyna-server-service.conf
dunst/
emoji
fontconfig/
freerdp/
gdb/
gh/
git/
gsmartcontrol/
gthumb/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
htop/
inkscape/
ipython/
irb/
jami.net/
jami/
joshuto/
jupyter/
jxbrowser/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kaggle/
kateschemarc
kcachegrindrc
kcminputrc
kconf_updaterc
kdbgrc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kicad/
kid3rc
klanguageoverridesrc
klavaro/
kmplotrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwaverc
kwinrc
kwinrulesrc
kxkbrc
labplot2rc
less/
libaccounts-glib/
libfm/
libreoffice/
lingot/
ls_colors.css
mediainfo/
mimeapps.list
newsboat/
ngspice/
nicotine/
npm/
nsxiv/
obs-studio/
octave/
openmodelica/
pcmanfm/
pdfarranger/
picom/
piscou/
powerdevilrc
powermanagementprofilesrc
psd/
pulse/
pychess/
qt5ct/
qt6ct/
qucs/
remmina/
rofi/
session/
slop/
spek/
splint/
spotify/
syncthing/
systemd/
systemsettingsrc
tempdirs
torbrowser/
tuta_integration/
tutanota-desktop/
tuxedo-control-center/
urxvt/
veusz.org/
vgrep/
vlc/
vysor/
wget/
whoozle.github.io/
xfce4/
xsettingsd/
*zcompdump*
*.log
QElectroTech/
VirtualBox/
X11/xkb/symbols/br_lucas
autologin.conf
calibre/
discord/
etc/br-abnt2.map.gz
fstab
gnuplot/
go/
grsync/
kdenlive-layoutsrc
kdenliverc
knfsshare
konsolerc
konsolesshconfig
kwinoutputconfig.json
lastlog.txt
luks_headers/
menus/
nautilus/
onionshare/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
pluginregistry.cfg
pluginsettings.cfg
rizin/
tenacity.cfg
vim/.netrwhist
.gsd*
teamviewer/
