/* #LS_COLORS+='rs=0:mh=0:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:mi=0:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44' */
/* filetypes */ /* use: ls_colors.awk <this file> */
LS_COLORS+='rs=0:mh=0:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:mi=0:su=37;41:sg=30;43:ca=30;41:tw=0;0:ow=0;0:st=0;0'
LS_COLORS+=':di=1;38;2;175;135;000:fi=0:ex=01;38;2;000;250;000:ln=01;38;2;128;128;128:or=0;38;2;000;000;000'

{/*label     bold  color            extensions */
   txt     : 0   : rgb(250, 250, 250) : txt
   other   : 0   : rgb(200, 250, 230) : tab aup aup3 pgn bib
   markup  : 1   : rgb(220, 220, 000) : tex md sent 1
   docs    : 1   : rgb(205, 040, 040) : pdf djvu epub ps
   write   : 1   : rgb(070, 010, 250) : odt docx
   word    : 0   : rgb(070, 010, 250) : doc
   calc    : 1   : rgb(000, 160, 000) : ods xlsx xlsm
   excel   : 0   : rgb(000, 160, 000) : xls
   csv     : 0   : rgb(000, 160, 000) : csv tsv
   lmms    : 0   : rgb(020, 140, 140) : mmpz sf2
   slides  : 1   : rgb(250, 085, 000) : odp pptx
   slides  : 0   : rgb(250, 085, 000) : ppt
   image   : 1   : rgb(000, 135, 250) : jpg jpeg gif bmp png ff svg tif tiff xcf webp hdr
   music   : 1   : rgb(000, 170, 170) : mp3 flac wma ogg wav opus aac m4a
   video   : 1   : rgb(240, 000, 240) : mov mpg mpeg mkv webm 3gp mp4 wmv avi
   archive : 1   : rgb(250, 165, 000) : iso img tar.bz tar.bz2 tbz tbz2 tar.gz tgz zip nar rar gz 7z zstd
   torrent : 1   : rgb(200, 150, 050) : part torrent
   kicad   : 1   : rgb(020, 160, 020) : kicad_pro
   kicad   : 1   : rgb(210, 250, 210) : kicad_pcb kicad_sch
   diff    : 0   : rgb(000, 160, 000) : diff patch
   orig    : 0   : rgb(210, 180, 120) : orig
   rej     : 0   : rgb(120, 180, 120) : rej
   header  : 0   : rgb(220, 160, 000) : h hpp rlib
   source  : 1   : rgb(250, 100, 000) : asm c cpp go rs zig f90 vhd vhdl mo
   script  : 1   : rgb(000, 190, 70)  : awk pl m vim plt py lua sh zsh bash fish mos
   special : 1   : rgb(120, 180, 120) : fmu
   binary  : 1   : rgb(000, 190, 000) : exe
   library : 0   : rgb(150, 240, 150) : dll so a
}
